Options +FollowSymlinks
RewriteEngine on
RewriteRule ^$rechauffement-climatique-cause.herokuapp.com [L]

Options +FollowSymlinks
RewriteEngine on
RewriteRule ^cause$ cause.php [L]

Options +FollowSymlinks
RewriteEngine on
RewriteRule ^definition$ index.php [L]




Options +FollowSymlinks
RewriteEngine On
RewriteRule	^sitemap.xml$ sitemap.xml [L]

<IfModule mod_expires.c>
 ExpiresActive On
 ExpiresDefault "access plus 7200 seconds"
 ExpiresByType image/jpg "access plus 1 years"
 ExpiresByType image/jpeg "access plus 1 years"
 ExpiresByType image/png "access plus 1 years"
 ExpiresByType image/gif "access plus 1 years"
 AddType image/x-icon .ico
 ExpiresByType image/ico "access plus 1 years"
 ExpiresByType image/icon "access plus 1 years"
 ExpiresByType image/x-icon "access plus 1 years"
 ExpiresByType text/css "access plus 1 years"
 ExpiresByType text/javascript "access plus 1 years"
 ExpiresByType text/html "access plus 1 years"
 ExpiresByType application/xhtml+xml "access plus 1 month"
 ExpiresByType application/javascript A2592000
 ExpiresByType application/x-javascript "access plus 1 years"
 ExpiresByType application/x-shockwave-flash "access plus 1 years"
</IfModule>


<filesMatch « .(jpg|css|png|gif|js)$ »>
Header set Cache-Control « max-age=2628000, public »
</filesMatch>





